<!--prettier-ignore-->
<section>
  <a href="/">Home</a>
  <div class="message-detail-message-container">
    <strong>Date:</strong> <%= message.sent %> <br />
    <strong>From:</strong> <%= message.username %> <br />
    <strong>message:</strong> <%= message.body %> <br />
  </div>
</section>
