<form method="POST" action="/new"
  style="display: flex; flex-direction: column; gap: 1em; width: max-content;">
  <h1>New Message Form</h1>
  <div style="display: flex; flex-direction: column;">
    <label for="nameInput">Name:</label>
    <input type="text" name='nameInput' id="nameInput" placeholder="Enter display name">
    <label for="messageInput">Message:</label>
    <textarea name="messageInput" id="messageInput" placeholder="Enter your message"></textarea>
  </div>
  <button type="submit">Submit</button>
</form>