<section>
  <a href="/">Home</a>
  <div class="message-detail-message-container">
    <strong>Date:</strong>
    <%= message.added %> <br />
      <strong>From:</strong>
      <%= message.user %> <br />
        <strong>message:</strong>
        <%= message.text %> <br />
  </div>
</section>